@use "../../styles/colors" as *;
@use "../../styles/sizes" as *;

@use "../../component/features/homepage/search-bar/search-bar.component.scss";
@use "../../component/features/homepage/weather/weather.component.scss";
.homepage_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: $s;
  margin: auto;
  margin-top: $m;
}
